* {
  border: 0.5px solid red;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: $base-padding;

  .nav-logo {
    color: $black;
  }

  .menu-btn {
    cursor: pointer;

    .fa-circle {
      margin: 0 0.15rem;
    }
  }

  .nav-links {
    display: none;
  }

  .menu {
    &.active > .nav-links {
      display: block;
    }
  }
}
