.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $base-margin-lr;
  margin-bottom: $base-margin-tb;
  main {
    display: flex;
    flex-direction: column;
    margin-bottom: $base-margin-tb;
    .description {
      display: flex;
      flex-direction: column;
      font-family: $inconsolota;
      font-weight: bold;
      font-size: $base-font * 1.2;
      .about-title {
        padding-top: 0;
        margin-bottom: $base-margin-tb;
        align-self: center;
        p {
          margin-top: 0;
          margin-bottom: 0;
          padding: $base-padding*0.5 $base-padding;
          background-color: $black;
          color: $white;
          font-size: $base-font * 2;
          text-transform: uppercase;
          font-family: $unica-one;
        }
      }
      p {
        padding: 0 $base-padding;
        margin-bottom: $base-margin-tb * 1.5;
      }
      hr {
        color: 1px solid $black;
        align: center;
        width: 15%;
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    margin-bottom: $base-margin-tb * 2;
    .social-title {
      align-self: center;
      font-family: $unica-one;
      text-transform: uppercase;
      font-size: $base-font*1.8;
    }
    .social-icons {
      justify-content: center;
      a {
        text-decoration: none;
        color: $black;
        margin: 0 $base-margin-lr * 0.15;
        transition: 0.5s ease;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
