.hero-head {
  position: relative;
  margin: 0 $base-margin-lr;
  .hero-img {
    background: $hero no-repeat center center;
    background-size: cover;
    height: 84.5vh;
    width: 85%;
  }
  .description {
    position: absolute;
    top: 70%;
    left: 72%;
    p {
      background-color: $black;
      color: $white;
      padding: $base-padding * 1;
      margin: 0;
      font-family: $inconsolota;
      text-align: right;
      font-size: $base-font * 1.5;
    }
  }
}
