// import fonts
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Unica+One");

// img assets
$hero: url("/static/img/hero.jpg");

// fonts
$inconsolota: 'Inconsolata', monospace;
$unica-one: 'Unica One', cursive;

$base-font: 1rem;

// colors
$black: #161616;
$white: #f7f9f9;

// bases
$base-padding: 2rem;
$base-margin-lr: 6rem;
$base-margin-tb: 2.5rem;

//global styles
body {
  background-color: $white;
  position: relative;
}

// for testing position
// * {
//   border: 0.5px solid red;
// }


// dependencies
@import "_nav.scss";
@import "_home.scss";
@import "_about.scss";
@import "_footer.scss";
