// import fonts

// img assets
$hero: url("/static/img/hero.jpg");

// fonts

// colors
$black: #161616;
$white: #f7f9f9;

// bases
$base-padding: 2rem;

//global styles
body {
  margin: 2.5rem 4rem;
  background-color: $white;
}

// for testing position
// * {
//   border: 0.5px solid red;
// }


// dependencies
@import "_nav.scss";
@import "_home.scss";

@import "_footer.scss"
